/* .type-filter button {
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    cursor: pointer;
    background-color: white;
  }
  
  .type-filter .selected {
    background-color: red;
    font-weight: bold;
  }
  
  .pokemon-card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .type {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    background: lightgray;
    border-radius: 4px;
  }
   */